body {
    font-family: Arial, sans-serif;
    background-color: #02040F;
    color: #FFF;
    margin: 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #02040F;
    padding: 30px;
    width: 100%;
}

input[type="password"],
input[type="email"],
input[type="text"] {
    display: block;
    width: calc(100% - 25px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    border: 1px #FFF solid;
    font-size: 16px;
    background-color: #02040F;
    color: #FFF;
}

button {
    background-color: #840032;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

::placeholder {
    color: #ffffff81;
}

select option {
    color: #fff;
}

select option:first-child {
    color: #ffffff81;
}

button:hover {
    opacity: 0.8;
}

.error_message {
    color: #840032;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}

.logo {
    text-align: center;
    font-size: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    overflow: none;
    font-weight: bold;
}

li a {
    display: block;
    color: #02040F;
    padding: 10px 20px;
    text-decoration: none;
}

li a.active {
    background-color: #02040F;
    color: #FFF;
}

li a:hover:not(.active) {
    background-color: #840032;
    color: #FFF;
}

.bottom_button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

.bottom_button button {
    width: 100%;
    border-radius: 0;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.shop-box {
    width: calc(20% - 42px);
    margin: 10px;
    padding: 10px;
    padding-bottom: 70px;
    background-color: #fff;
    color: #02040F;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.shop-box img {
    width: 100%;
    height: auto;
}

.shop-box h4 {
    padding-left: 5px;
    padding-right: 5px;
}

.shop-box h5 {
    transform: translate(-50%, 0%);
    position: absolute;
    bottom: 40px;
    left: 50%;
}

.shop-box button {
    background-color: #E59500;
    color: #fff;
    font-size: 15px;
    transform: translate(-50%, 0%);
    position: absolute;
    bottom: 10px;
}

.shop-sales {
    position: absolute;
    right: 20px;
    transform: translate(0%, -175%);
    color: #0000ff;
    font-weight: bold;
}

.container {
    margin-left: 200px;
    margin-right: 50px;
    padding: 20px;
}

.container button {
    background-color: #E59500;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    margin-left: 0;
    opacity: 0.3;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.item {
    width: 80%;
    margin: auto;
    padding: 20px;
    padding-left: 140px;
    position: relative;
    border-radius: 5px;
    border: 1px #FFF solid;
    margin-top: 10px;
}

.sub_container {
    width: 100%;
}

.sub_container #purchase {
    margin-top: 20px;
}

#container_bottom {
    background-color: #02040F;
    width: 80%;
    margin: auto;
    padding: 20px;
    padding-left: 140px;
    position: relative;
    margin-top: 10px;
}

.left_placeholder {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
}

.right_placeholder {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
}

.item_img {
    height: 100%;
    width: 100px;
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
}

.product_view_right {
    height: 100%;
    width: 150px;
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_view_left {
    height: 100%;
    width: 200px;
    position: absolute;
    margin: 0;
    right: 150px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0%, 0%);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #02040F;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px #FFF solid;
    width: 500px;
}

.select {
    width: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px #FFF solid;
    display: inline;
    font-size: 16px;
    background-color: #02040F;
    color: #FFF;
}

.banner {
    margin-top: 100px;
    width: 100%;
    border-radius: 5px;
    border: 1px #FFF dotted;
    padding-top: 30px;
    padding-bottom: 50px;
}